* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation: navside 1s ease-in 2s forwards;
}

#logo {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: rgb(240, 240, 240);
    font-weight: lighter;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.background-image {
    background: url('../image/background-image2.jpg');
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-family: 'Lobster', cursive;
    animation: navside 1s ease-in 2s forwards;
}

.big-text h1 {
    color: rgb(0, 0, 0);
    font-size: 9rem;
}

.first-fade-text {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: main-text 1.5s ease 1.6s forwards;
}

.for-hide-text {
    min-width: 50%;
    height: 10%;
    background: #000;
    overflow: hidden;
}

.hide {
    font-size: 3.2rem;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    animation: firstTextfade 1s ease forwards;
    font-weight: bold;
    display: inline-block;
    transform: translateY(100%);
}

.hamburger {
    display: none;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(100%);
    background-color: rgb(134, 167, 182);
    animation: slide 1.6s ease-in-out 1s forwards;
    z-index: 20;
}

@keyframes main-text {
    0% {
        transform: translateY(0%);
        display: block;
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes navside {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes firstTextfade {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide {
    0% {
        transform: translateY(100%);
        display: block;
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 50%;
        min-height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: rgb(3, 0, 50);
        transform: translateX(100%);
        display: none;
    }
    .nav-links li a {
        color: #fff;
    }
    .nav-links li a:hover {
        border-bottom: 2px solid #000000;
    }
    .nav-links.open {
        transform: translateX(0%);
        display: flex;
    }
    .big-text h1 {
        font-size: 5rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }
    .for-hide-text {
        min-width: 60%;
    }
    .hide {
        font-size: 3rem;
    }
}

.hamburger-line .line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.hamburger-line .line2 {
    opacity: 0;
}

.hamburger-line .line3 {
    transform: rotate(45deg) translate(-6px, -5px);
}

@media screen and (max-width: 375px) {
    .big-text h1 {
        font-size: 4rem;
    }
    .for-hide-text {
        min-width: 90%;
    }
    .hide {
        font-size: 3rem;
    }
}

@media screen and (max-width: 414px) {
    .big-text h1 {
        font-size: 4rem;
    }
    .hide {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 320px) {
    .big-text h1 {
        font-size: 3rem;
    }
}